[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/wren"]
	path = ThirdParty/wren
	url = https://github.com/wren-lang/wren.git
[submodule "ThirdParty/klein"]
	path = ThirdParty/klein
	url = https://github.com/jeremyong/klein.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "ThirdParty/cgltf"]
	path = ThirdParty/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "ThirdParty/miniaudio"]
	path = ThirdParty/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "ThirdParty/enet"]
	path = ThirdParty/enet
	url = https://github.com/zpl-c/enet.git
[submodule "ThirdParty/cereal"]
	path = ThirdParty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "ThirdParty/filesystem"]
	path = ThirdParty/filesystem
	url = https://github.com/gulrak/filesystem.git
