[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/wren"]
	path = ThirdParty/wren
	url = https://github.com/wren-lang/wren.git
[submodule "ThirdParty/klein"]
	path = ThirdParty/klein
	url = https://github.com/jeremyong/klein.git
